<?xml version='1.0' encoding='utf-8'?>
<widget id="com.voltbuilder.sample" xmlns="http://www.w3.org/ns/widgets" version="1.0.0">
  <name>Contact Book</name>
  <description>.</description>
  <plugin name="cordova-plugin-device" />
  <access origin="*" />
  <author>Ntsikelelo Rasimeni</author>
  <icon src="image/icon.jpg"/>
</widget>